<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="APP_NAME" value="box" />
    <property name="LOG_PATH" value="logs"/>

    <!-- APPENDERS -->

    <!-- APPENDER CONSOLE -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- APPENDER FILE SiftyAppender -->
    <appender name="RessourceFileAppender"
              class="ch.qos.logback.classic.sift.SiftingAppender">

        <!-- on va attribuer une valeur pour 'LoggerClasseAndMethodNameBasedDiscriminator'
            via code java au niveau de MDC -->
        <discriminator>
            <key>logClassAndMethodResourceFolder</key>
            <defaultValue>${APP_NAME}</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${logClassAndMethodResourceFolder}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_PATH}/logs/${logClassAndMethodResourceFolder}.log</file>

                <encoder
                        class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} | [%thread] |  %level | %logger{35} -
                        %msg%n
                    </Pattern>
                </encoder>
                <rollingPolicy
                        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- création de fichier de manière journalière . -->
                    <fileNamePattern>${LOG_PATH}/logs/${logClassAndMethodResourceFolder}_archived.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
                    <maxHistory>14</maxHistory>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>
            </appender>

        </sift>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- LOGGERS -->

    <logger name="com.emailing.box" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RessourceFileAppender" />
    </logger>
    <logger name="com.emailing.box" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RessourceFileAppender" />
    </logger>


    <logger name="org.springframework.aop" additivity="false">
        <level value="DEBUG" /><appender-ref ref="RessourceFileAppender" />
    </logger>

</configuration>